<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ebooks viewer</title>
    <link rel="stylesheet" href="./app.css">
<link rel="stylesheet" href="./style.css">    <script defer src="./app.js"></script>
  <meta name="description" content="View eBooks Files" />
  <style>
    html, body { height: 100% }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
  </head>
  <body class="">
   <script>
      (function() {
        if (location.hostname.includes('localhost')) {
          location.hostname = location.hostname.replace('localhost', 'localtest.me');
          return;
        }
      })();
    </script>
    <script>
      (function() {
        window.submitForm = function(event, url, handler) {
          event.preventDefault();

          const currentTarget = event.currentTarget;
          const fieldset = currentTarget.querySelector("fieldset");
          currentTarget.querySelector(".js-failure").classList.add("hidden");

          // Before disabling the fieldset.
          fetch(url, { method: "PUT", body: new FormData(currentTarget) })
            .then(function(response) {
              if (!response.ok) { throw "error"; }
              return response.json().then(function(jsonResponse) {
                fieldset.classList.add("hidden");
                currentTarget.querySelector(".js-success").classList.remove("hidden");
                if (handler) {
                  handler(jsonResponse);
                }
              });
            })
            .catch(function() {
              fieldset.removeAttribute("disabled", "disabled");
              fieldset.style.opacity = 1;
              currentTarget.querySelector(".js-failure").classList.remove("hidden");
            })
            .finally(function() {
              currentTarget.querySelector(".js-spinner").classList.add("invisible");
            });

          fieldset.setAttribute("disabled", "disabled");
          fieldset.style.opacity = 0.5;
          currentTarget.querySelector(".js-spinner").classList.remove("invisible");
        };
      })();
    </script>
  <script src="./react.production.min.js"></script>
  <script src="./react-dom.production.min.js"></script>
  <script src="./reakit.min.js"></script>
  <script src="./djvu.js"></script>
  <script src="./djvu_viewer.js"></script>
  <script>window.reakit = window.Reakit;</script>
  <script src="./villain.js"></script>
  <script src="./zip.min.js"></script>
  <script>
    const supportedExtensions = {"djvujs": ["djvu"], "foliatejs": ["epub", "fb2", "mobi", "azw3"], "kthoom": ["cbz", "cbr"], "pdfjs": ["pdf"], "villainjs": ["rar", "zip"]};

    function parseUrl(url) {
      // Remote URL might have query params
      try {
        const parsedUrl = new URL(url);
        return parsedUrl.pathname;
      } catch (e) {
        return url;
      }
    }


    function attachFrameListener() {
      const iframe = document.querySelector(".viewer-frame");
      const contentWindow = iframe.contentWindow;

      contentWindow.addEventListener("unhandledrejection", e => {
        displayError(e.reason.message);
      });
      contentWindow.addEventListener("error", e => {
        if (e.error) {
          displayError(e.error.message);
        } else {
          displayError(e.message);
        }
      });
      // in reality, only kthoom + pdf.js support re-drag and drop, but better to disable for all iframes
      contentWindow.EventTarget.prototype.addEventListener = new Proxy(contentWindow.EventTarget.prototype.addEventListener, {
        apply(target, that, args) {
          if (args[0] === "drop") {
            return;
          }
          return Reflect.apply(...arguments);
        }
      });
    }

    function loadWithVillain(file) {
      const Villain = window.villain;
      const props = {
        source: file, // url or blob
        style: { width: "100%", height: "100%" },
        options: {
          allowFullScreen: true,
          autoHideControls: false,
        },
        workerUrl: "./worker-bundle.js"
      };

      const root = ReactDOM.createRoot(document.body);
      root.render(React.createElement(Villain, props));
    }

    async function loadZip(fileUrl) {
      const blob = await (await fetch(fileUrl)).blob()
      const reader = new zip.ZipReader(new zip.BlobReader(blob));

      let entries = await reader.getEntries();
      entries.sort((a, b) => a.filename.localeCompare(b.filename));
      if (entries.length === 0) {
        displayError("Zip file is empty");
        return;
      }
      if (entries.some(e => !e.filename.endsWith(".txt"))) {
        loadWithVillain(blob);
        return;
      }

      document.getElementById("viewer-container").innerHTML = "";

      const loadingContainer = document.createElement("div");
      loadingContainer.className = "fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-64 rounded border";
      const loadingBar = document.createElement("div");
      loadingBar.className = "h-2 bg-gray-600 w-0 transition-all";
      loadingContainer.appendChild(loadingBar);
      document.body.appendChild(loadingContainer);

      const outputDiv = document.createElement("div");
      outputDiv.className = "font-mono whitespace-pre-wrap text-black p-4 w-full max-w-full mx-auto overflow-auto rounded-md break-words flex justify-center text-base";
      document.body.appendChild(outputDiv);
      const innerContainer = document.createElement("div");
      innerContainer.className = "w-full max-w-3xl";
      outputDiv.appendChild(innerContainer);

      for (const [idx, entry] of entries.entries()) {
        const text = await entry.getData(new zip.TextWriter());
        if (!text.trim()) {
          continue;
        }

        const textContainer = document.createElement("div");
        textContainer.textContent = text;
        innerContainer.appendChild(textContainer);

        const divider = document.createElement("hr");
        divider.className = "my-4";
        innerContainer.appendChild(divider);
        loadingBar.style.width = `${((idx + 1) / entries.length) * 100}%`;
      }

      // buffer time so user sees loading bar full
      setTimeout(() => {
        loadingContainer.remove();
      }, 250);
    }

    async function loadViewerByUrl(fileUrl, fileType) {
      if (!fileType) {
        const parsedUrl = parseUrl(encodeURI(fileUrl));
        fileType = parsedUrl.split(".").pop();
      }

      const viewerContainer = document.getElementById("viewer-container");
      function replaceViewerWithFrame(src, id) {
        const iframe = document.createElement("iframe");
        if (id) {
          iframe.id = id;
        }
        iframe.src = src;
        iframe.title = "webviewer";
        iframe.setAttribute("frameborder", "0");
        iframe.className = "viewer-frame w-full h-full";
        viewerContainer.replaceChildren(iframe);
        attachFrameListener();
      }

      const encodedFileUrl = encodeURIComponent(fileUrl);
      if (supportedExtensions["pdfjs"].includes(fileType)) {
        replaceViewerWithFrame(`/pdfjs/web/viewer.html?file=${encodedFileUrl}`);
      } else if (supportedExtensions["djvujs"].includes(fileType)) {
        const viewer = new DjVu.Viewer();
        viewer.render(document.body);
        viewer.loadDocumentByUrl(fileUrl);
      } else if (supportedExtensions["foliatejs"].includes(fileType)) {
        replaceViewerWithFrame(`/foliatejs/reader.html?url=${encodedFileUrl}`, "foliate-iframe");
      } else if (supportedExtensions["kthoom"].includes(fileType)) {
        replaceViewerWithFrame(`/kthoom/index.html?bookUri=${encodedFileUrl}`);
      } else if (supportedExtensions["villainjs"].includes(fileType)) {
        if (fileType == "zip") {
          await loadZip(fileUrl);
          return;
        }
        loadWithVillain(fileUrl);
      } else {
        displayError("File type not supported");
      }
    }

    function getBuffer(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = () => resolve(reader.result);
        reader.onerror = () => reject(reader.error);
        reader.readAsArrayBuffer(file);
      });
    }

    async function loadDjvuByFile(file) {
      const viewer = new DjVu.Viewer();
      const buffer = await getBuffer(file);
      viewer.render(document.body);
      viewer.loadDocument(buffer);
    }

    // Monkey patched foliate.js function
    window.fileInfoForMonkeyPatchedFetchFile = {};
    window.fetchFile = async url => {
      const res = await fetch(url);
      if (!res.ok) throw new ResponseError(`${res.status} ${res.statusText}`, { cause: res });

      const fileInfo = window.fileInfoForMonkeyPatchedFetchFile;
      if (url.startsWith("blob:") && "name" in fileInfo && "type" in fileInfo) {
        return new File([await res.blob()], fileInfo.name, {type: fileInfo.type});
      } else {
        return new File([await res.blob()], new URL(res.url).pathname);
      }
    }

    window.onmessage = e => {
      const iframe = document.getElementById("foliate-iframe");
      if (e.data === "refocus-iframe" && iframe) {
        iframe.contentWindow.focus();
      }
    };

    function displayError(error) {
      const popup = document.getElementById("error-popup");
      popup.classList.remove("hidden");

      const popupMsg = document.getElementById("error-message");
      popupMsg.innerText = error;

      console.log("displayError full error object:", error);
    }

    window.addEventListener("error", e => {
      displayError(e.error.message);
    })

    window.addEventListener("unhandledrejection", e => {
      displayError(e.reason.message);
    })
  </script>

  <div id="error-popup" class="fixed inset-0 flex items-center justify-center backdrop-blur-md hidden">
    <div class="bg-gray-50 border border-gray-300 p-6 rounded-lg shadow-lg w-96">
      <div class="text-lg font-semibold mb-4">Error opening this file</div>
      <div class="leading-tight mb-4">
        It’s possible there is something wrong with this file.
        Try opening it in a different application.
      </div>
      <p id="error-message" class="text-xs text-gray-500 mt-2 font-mono overflow-auto"></p>
    </div>
  </div>

  <div id="viewer-container" class="flex flex-row w-full h-full items-center justify-center">

      <div id="drop-area" class="p-16 m-4 cursor-pointer border-2 border-dashed border-gray-300 rounded-lg text-center bg-gray-50 hover:bg-gray-100">
        <div class="mb-4">Drop file here to open (or click)</div>
        <div class="text-gray-500 text-sm">Supported files: pdf, epub, fb2, mobi, azw3, djvu, cbz, cbr, rar, zip</div>
        <input type="file" id="file-upload" class="hidden" accept=".pdf,.epub,.fb2,.mobi,.azw3,.djvu,.cbz,.cbr,.rar,.zip"/>
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", () => {
          const dropArea = document.getElementById("drop-area");
          const fileInput = document.getElementById("file-upload");

          dropArea.addEventListener("dragover", e => {
            e.preventDefault();
            dropArea.classList.replace("bg-gray-50", "bg-gray-100");
          });

          dropArea.addEventListener("dragleave", () => {
            dropArea.classList.replace("bg-gray-100", "bg-gray-50");
          });

          dropArea.addEventListener("drop", e => {
            e.preventDefault();
            dropArea.classList.replace("bg-gray-100", "bg-gray-50");
            const files = e.dataTransfer.files;
            if (files.length > 1) {
              displayError("Please upload only one file.");
              return
            }
            if (files.length > 0) {
              handleFileUpload(files[0]);
            }
          });

          dropArea.addEventListener("click", () => fileInput.click());

          fileInput.addEventListener("change", e => {
            const files = fileInput.files;
            if (files.length > 0) {
              handleFileUpload(fileInput.files[0]);
            }
          });

          async function handleFileUpload(file) {
            const fileType = file.name.split(".").pop();
            if (supportedExtensions["djvujs"].includes(fileType)) {
              await loadDjvuByFile(file);
            } else {
              let fileUrl = URL.createObjectURL(file);
              window.fileInfoForMonkeyPatchedFetchFile = {
                name: file.name,
                type: file.type
              };
              await loadViewerByUrl(fileUrl, fileType);
            }
          }
        });
      </script>
  </div>
  </body>
</html>
